			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" {{action 'cancel'}}>
					×
				</button>
				<h3>Añadir Servicio</h3>
			</div>
			<div class="modal-body">

					<p>Nombre</p>
					{{input type="text" value=newServicio.nombre class="box span5"}}
					<p>Referencia</p>
					{{textarea type="text" value=newServicio.referencia class="box span5"}}
					<p>Telefono</p>
					{{input type="text" value=newServicio.telefono class="box span5"}}
						<p>Costo</p>
					{{input type="number" value=newServicio.costo class="box span5"}}
			</div>

			<div class="modal-footer">
				<a class="btn" data-dismiss="modal" {{action 'cancel'}}>Cancelar</a>
				<a  class="btn btn-primary" {{action 'addServicio' newServicio}}>Añadir Servicio</a>
			</div>
