<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">×</button>
	<h3>Añadir Colono</h3>
	</div>
		<div class="modal-body">
			<p class=" ">Nombre de Colono</p>
			{{input type="text" value=newColono.nombre class="box span5"}}

			<p class="">Apellido Paterno</p>
			{{input type="text" value=newColono.apellidoPaterno class="box span5"}}

			<p class=" ">Apellido Materno</p>
			{{input type="text" value=newColono.apellidoMaterno class="box span5"}}

			<p class=" ">Direccion</p>
			{{input type="text" value=newColono.direccion class="box span5"}}

			<p class=" ">Telefono</p>
			{{input type="text" value=newColono.telefono class="box span5"}}

			<p class=" ">Correo</p>
			{{input type="text" value=newColono.email class="box span5"}}

			<p class=" ">Password</p>
			{{input type="password" value=password class="box span5"}}

		</div>
		<div class="modal-footer">
			<a class="btn" data-dismiss="modal">Cancelar</a>
			<a  class="btn btn-primary" {{action 'addColono' newColono}}>Guardar Colono</a>
	</div>
