<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" {{action 'cancel'}}>
		×
	</button>
	<h3>Encuesta</h3>
	</div>
		<div class="modal-body">
			<p class=" ">Título</p>
			{{input disabled=true type="text" value=encuesta.titulo class="box span5"}}

			<p class="">Descripción</p>
			{{textarea disabled=true type="text" value=encuesta.descripcion class="box span5"}}

			<p class=" ">Fecha de Cierre</p>
			{{input disabled=true type="text" value=encuesta.fechaCierre class="box span5"}}

      <h5 class=" ">Preguntas</h5>
      {{#each encuesta.preguntas as |pregunta index|}}
        <h5>Pregunta {{add index 1}}</h5>
        <p class=" ">Contenido</p>
        {{input disabled=true type="text" value=pregunta.contenido class="box span5"}}
        <br>
        {{#each pregunta.respuestas as |respuesta index|}}
          <p class=" ">Respuesta {{add index 1}} </p>
          {{input disabled=true type="text" value=respuesta.contenido class="box span5"}}
          <br>
        {{/each}}
      {{/each}}
      <br>

		</div>
		<div class="modal-footer">
			<a  class="btn btn-primary" {{action 'cancel'}}>Regresar</a>
</div>
